DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,damerchi.ir,www.damerchi.ir
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,https://damerchi.ir,https://www.damerchi.ir
SITE_DOMAIN=damerchi.ir
